* {
    padding: 0%;
    margin: 0%;
  }
  body {
    height: 100vh;
    width: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: center;
    margin: 80px;
  }
  .card {
    border: 2px solid black;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    background-color: blue;
    color: white;
  }
  .button {
    background-color: green;
    color: white;
  }

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}
.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.update-btn {
    background-color: #4CAF50;
    color: white;
}

.update-btn:hover {
    background-color: #45a049;
}
